.ESP_32_CL57T_motor_control/.pio/
.ESP_32_CL57T_motor_control/.vscode/
.ESP_32_CL57T_motor_control/.gitingore/

.SPIFSS reader/.pio/
.SPIFSS reader/.vscode/
.SPIFSS reader/.gitingore/

.SPIFSS reader/.pio/
.SPIFSS reader/.vscode/
.SPIFSS reader/.gitingore/